<p id="notice"><%= notice %></p>

<div id="calendar">
	<h2 id="month">
		<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		<%=h @date.strftime("%B %Y") %>
		<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
	</h2>

<div id="calendar">
	<%= calendar_for @parties, :year => @date.year, :month => @date.month do |t| %>
			<%= t.head('DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB') %>
			<%= t.day(:day_method => :date) do |day, parties| %>
			<%= day.day %>
			<ul>
			<% available = true  %>
				<% parties.each do |party| %>
				<% available = false  %>
				  <% if user_signed_in?  %>
				  	<%= link_to h(party.title), party %><br>
					  <%= link_to 'Editar', edit_party_path(party) %> | <%= link_to 'Deletar', party, method: :delete, data: { confirm: 'Tem certeza?' } %>
				  <% else %>
				  	<br /> <li class="unavailable"><%= party.title %></li>
				  <% end %>				  
				<% end %>
				<% if available %>
					<% if (Date.today.day <= day.day && Date.today.month <= day.month) || Date.today.month < day.month || Date.today.year < day.year%>
					  <br /> <li class="available"><%= link_to 'Disponivel', new_requester_path %></li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
	<% end %>
</div>

<br>
