<p id="notice"><%= notice %></p>

<h1>Listing Requesters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Finish at</th>
      <th>Accept terms</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requesters.each do |requester| %>
      <tr>
        <td><%= requester.name %></td>
        <td><%= requester.email %></td>
        <td><%= requester.phone %></td>
        <td><%= requester.finish_at %></td>
        <td><%= requester.accept_terms %></td>
        <td><%= requester.goal.name if requester.goal %></td>
        <td><%= link_to 'Ver', requester %></td>
        <td><%= link_to 'Editar', edit_requester_path(requester) %></td>
        <td><%= link_to 'Deletar', requester, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo interessado', new_requester_path %>
