<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requester.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @requester.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @requester.phone %>
</p>

<p>
  <strong>Finish at:</strong>
  <%= @requester.finish_at %>
</p>

<p>
  <strong>Accept terms:</strong>
  <%= @requester.accept_terms %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @requester.goal.name if @requester.goal %>
</p>

<%= link_to 'Editar', edit_requester_path(@requester) %> |
<%= link_to 'Voltar', requesters_path %>
